
ul {list-style-type: none ;
    margin-bottom:200px;
    padding: 0;
    overflow: hidden;}

li {float: right;}

a {display: block;
    width: 60px;
    background-color: #dddddd;}

img {height: 100px;
	width:300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom:30px;}

form {text-align:center;}

#search {width:400px;
		height:30px;}

a:nth-child(2) {display: block;
    width: 60px;
    background-color: #dddddd;
	
}

a:nth-child(3) {display: block;
    width: 60px;
    background-color: #dddddd;}

footer {float:left;
margin-top: 400px;}